{% extends "template.html" %}

{% block child_block %}
<!-- Jumbotron -->
  <header class="headline">
    <img class="headline-img" src="https://i.ytimg.com/vi/M0Hhl27TPR4/maxresdefault.jpg">
    <div class="centered-text">
      <h1>Zoe Adamovicz</h1>
      <div class="hide">
        <hr>
        <h4>Forbes Top 50 Women in Tech</h4>
      </div>
    </div>
  </header>
  
  <!-- Container #1 -->
  
  <div class="top-container">
    <div class="img-left">
      <img src="https://pbs.twimg.com/profile_images/978619540962729985/8Q-NXzEI_400x400.jpg">
    </div>
    <div class="text-right">
      <h2>Co-Founder and CEO of <a href="https://neufund.org/">Neufund</a></h2>
      <p>Bacon ipsum dolor amet capicola chuck t-bone, kielbasa shank venison drumstick turducken filet mignon beef ribs bacon tri-tip doner pork chop. Tongue corned beef salami t-bone short ribs cupim. Capicola kevin salami fatback, tail venison beef. Spare ribs ground round tri-tip doner landjaeger jerky filet mignon drumstick prosciutto t-bone rump meatloaf pork.</p>
      <p>Bacon ipsum dolor amet capicola chuck t-bone, kielbasa shank venison drumstick turducken filet mignon beef ribs bacon tri-tip doner pork chop. Tongue corned beef salami t-bone short ribs cupim. Capicola kevin salami fatback, tail venison beef. Spare ribs ground round tri-tip doner landjaeger jerky filet mignon drumstick prosciutto t-bone rump meatloaf pork.</p>
    </div>
  </div>
  
  <!-- Top container ends -->
    
  
  <!-- Container #2 -->
  
    <div class="middle-container">
      <div class="text-left">
        <h2>Co-Founder & Management Board of <a href="https://concisesoftware.com/">Concise Software</a></h2>
        <p>Bacon ipsum dolor amet capicola chuck t-bone, kielbasa shank venison drumstick turducken filet mignon beef ribs bacon tri-tip doner pork chop. Tongue corned beef salami t-bone short ribs cupim. Capicola kevin salami fatback, tail venison beef. Spare ribs ground round tri-tip doner landjaeger jerky filet mignon drumstick prosciutto t-bone rump meatloaf pork.</p>
        <p>Bacon ipsum dolor amet capicola chuck t-bone, kielbasa shank venison drumstick turducken filet mignon beef ribs bacon tri-tip doner pork chop. Tongue corned beef salami t-bone short ribs cupim. Capicola kevin salami fatback, tail venison beef. Spare ribs ground round tri-tip doner landjaeger jerky filet mignon drumstick prosciutto t-bone rump meatloaf pork.</p>
        <p>Bacon ipsum dolor amet capicola chuck t-bone, kielbasa shank venison drumstick turducken filet mignon beef ribs bacon tri-tip doner pork chop. Tongue corned beef salami t-bone short ribs cupim. Capicola kevin salami fatback, tail venison beef. Spare ribs ground round tri-tip doner landjaeger jerky filet mignon drumstick prosciutto t-bone rump meatloaf pork.</p>
      </div>
      <div class="img-right">
      <img src="https://www.serchen.com/images/thumbnails/large/53803.jpg">
      </div>
    </div>
  
  <!-- Middle container ends -->
  
  <div class="bottom-container">
    <div class="container">
      <header><h2>Check out his/her social media!</h2></header>
      <ul>
        <li><a href="https://twitter.com/zoeadamovicz?lang=en"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.facebook.com/zoeadamovicz"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/zoeadamovicz/"><i class="fab fa-linkedin"></i></a></li>
      </ul>  
    </div>
  </div>

{% endblock %}